<!--
{
  "address": {
    "singleLineAddress": "203/293 Angas Street Adelaide SA 5000"
  },
  "attributes": {
    "bathrooms": 2,
    "bedrooms": 3,
    "carSpaces": 1,
    "isCalculatedLandArea": true,
    "landArea": 0,
    "lockUpGarages": 1
  },
  "coordinate": {
    "latitude": -34.92993899,
    "longitude": 138.61135998
  },
  "id": 17202558,
  "lastSaleDetail": {
    "agency": "Phillis Real Estate - Adelaide (Rla 168573)",
    "contractDate": "2016-02-15",
    "isAgentsAdvice": false,
    "isArmsLength": true,
    "price": 785000,
    "settlementDate": "1930-01-01",
    "type": "Consideration Represents Whole Interest For Property"
  },
  "locationIdentifiers": {
    "localityId": 22677,
    "postCodeId": 1407129,
    "streetId": 2901500
  },
  "propertyPhoto": {
    "largePhotoUrl": "https://static.rpdata.com/rpdaAU/photo/listsale/768x512/15/10/21/26197825/26197825_1.JPG",
    "mediumPhotoUrl": "https://static.rpdata.com/rpdaAU/photo/listsale/470x313/15/10/21/26197825/26197825_1.JPG",
    "scanDate": "2015-10-21",
    "thumbnailPhotoUrl": "https://static.rpdata.com/rpdaAU/photo/listsale/120x80/15/10/21/26197825/26197825_1.JPG"
  },
  "propertyStatus": {
    "otmForRent": false,
    "otmForSale": false,
    "recentSale": false
  },
  "propertySubType": "Unit: Townhouse/Villa",
  "propertySubTypeShort": "Townhouse/Villa",
  "propertyType": "UNIT"
}
-->

<table style="border-collapse: separate;border-spacing: 5px;">
<% for(var i=0; i < data.propertySummaryList.length; i++) { %>
<tr>
<td style="padding:10px;border: 1px;border-color: grey;border-style: solid;">

<div class="flex-container">
	<!--left left right left right-->
	<img src="<%= data.propertySummaryList[i].propertyPhoto.mediumPhotoUrl%>" style="padding:5px;" class="property-image flex-item" data-property-id="<%=data.propertySummaryList[i].id%>"/>

	<div class="flex-container-inner flex-item" style="">
		<div  style="" class="flex-item-inner">
			<% if (Array.isArray(data.propertySummaryList[i].address.singleLineAddress)) {%>
				<% for(var j=0; j < data.propertySummaryList[i].address.singleLineAddress.length; j++) { %>
				<span class="text-nowrap text-danger" style="font-size:xx-large"><%= data.propertySummaryList[i].address.singleLineAddress[j]%></span>
				<% }%>
			<%} else {%>
				<span class="text-danger" style="font-size:xx-large"><%= data.propertySummaryList[i].address.singleLineAddress%></span>
			<% } %>
		</div>

		<table class="property-attribute"  style="padding: 8px; border-collapse: separate;border-spacing: 5px;">
					<tr>
					<td style="background-image:url('img/bed.gif');">
						<%= data.propertySummaryList[i].attributes.bedrooms%>
					</td>
					<td style="background-image:url('img/bath.gif');">
						<%= data.propertySummaryList[i].attributes.bathrooms%>
					</td>
					<td style="background-image:url('img/carpark.gif');">
						<%= data.propertySummaryList[i].attributes.lockUpGarages%>
					</td>
					<td style="background-image:url('img/area.gif');">
						<%= data.propertySummaryList[i].attributes.landArea%>m2
					</td>
					</tr>
		</table>

		<table class="property-info">
			<tr>
				<td class="heading">
					Sale Price:
				</td>
				<td>$<%= data.propertySummaryList[i].lastSaleDetail.price%></td>
			</tr>
			<tr>
				<td class="heading">Sale date:</td>
				<td><%= data.propertySummaryList[i].lastSaleDetail.contractDate%></td>
			</tr>
			<tr>
				<td class="heading">
					Land Size:
				</td>
				<td><%= data.propertySummaryList[i].attributes.landArea%>m2</td>
			</tr>
			<tr>
				<td class="heading">
					Distance From Subject
				</td>
				<td><%= data.propertySummaryList[i].radiusSummary ? data.propertySummaryList[i].radiusSummary.distanceFromPoint + 'KM' : '' %></td>
				
			</tr>
		</table>

		<div style="margin-top: 0px;">
		<div class="bg-warning" >
			<span  class="heading"><b>Attributes:</b></span>
			<br>
			<span style="padding-left: 10px;">
			<%= data.propertySummaryList[i].attributes.bedrooms%> Beds, <%= data.propertySummaryList[i].attributes.bathrooms%> Baths, <%= data.propertySummaryList[i].attributes.carSpaces%> Car Spaces,
			<%= data.propertySummaryList[i].attributes.lockUpGarages%> Lock Up Garages,  Ensuites
			</span>
		</div>
		</div>
	</div>
</div>
</td>
</tr>
<% } %>
</table>

<script type='text/javascript'>
        $(".property-image").click(function (e) {
          $.ajax({
              url: "/property/" + $(this).data('property-id'),
              success: function(result){
                $("#sales").addClass('hidden');
                setTimeout(function() {
					$("#sales").html(result);
					$("#sales").removeClass('hidden');
					$("#sales").addClass('visible');
                }, 1000);
                
            }});
        });
</script>